{{!-- <li> --}}
    <article class="post">
      <div class="title">
        <a href= "/post/{{id}}" ><h5>{{title}}</h5></a>
      </div>
      <blockquote margin: 20px 0;
  padding-left: 1.5rem;>
       <p>{{post_text}}</p>
      
      <div class="meta">
        By <strong>{{user.username}}</strong> on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
      </blockquote>
    </article>
{{!-- </li> --}}